<ul class="list-group text-center mt-2">
  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addGroup"><strong>+</strong></button>
</ul>

<!-- Modal Group Sidebar -->
<div class="modal fade" id="addGroup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo Grupo...</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="col">
          <strong>Nombre del grupo:</strong>
          <input type="text" class="form-control mt-1" placeholder="Ingrese nombre del grupo..." required #txtAddGroup>
        </div>

      </div>
      <div class="modal-footer">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="form-control btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          <button class="form-control btn btn-primary" data-bs-dismiss="modal" (click)="saveGroup( txtAddGroup.value )">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
